.btn {
  display: inline-block;
  padding: rem(10px) rem(20px);
  font-size: rem(16px);
  font-weight: 600;
  background-color: $primary;
  color: #fff;
  border-radius: 4rem;
  border: 0.15rem solid transparent;
  transition: all 0.15s ease-in-out;
  &:active {
    box-shadow: $box-shadow;
  }
  &:hover {
    color: $primary;
    background-color: transparent;
  }
  &-primary {
    border-color: $primary;
    background-color: $primary;
  }
  &-secondary {
    color: $dark;
    background-color: $secondary;
    border-color: $secondary;
    &:hover {
      color: $secondary;
      background-color: transparent;
    }
    &:active {
      box-shadow: $box-shadow-secondary;
    }
  }
}
